@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#fff;}
html { padding:0; margin:0;}

/* main */
.main {width:100%; padding:0; margin:0 auto; background: #ebebeb; }

/********** header **********/
.header { background:url(images/header_bg.gif) top repeat-x; padding:0; margin:0 auto; }

.block_header {margin:0 auto; width:960px; padding:0; border:none;}
/* logo */
.logo { float:left; padding:0; margin:0; width:338px;}
/* menu */	
.menu { float:right; padding:25px 0 0 0; margin:0; width:570px; height:79px; background-image:url(images/logo_slogan.png); background-repeat:no-repeat; text-align:center;}

ul {
	padding: 0px;
	margin: 0px 0;
	list-style: none;
	float: left;
	clear: left;
}

ul li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 2px;
}

ul li a {
	text-decoration: none;
	float:left;
	color: #fff;
	cursor: pointer;
	font: 11px "Arial", Helvetica, sans-serif;
	background-image:url(images/botao.png);
	background-repeat:repeat-x;
}

ul li a span {
    text-align:center;
	width:88px;
	height:31px;
	margin: 0 0px 0 0px;
	padding: 9px 0 0 0;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
}


/*BLUE*/
ul.blue li a.current, ul.blue li a:hover {
	background: url(images/botao_over.png) no-repeat top right;
 	color: #fff;
}

ul.blue li a.current span, ul.blue li a:hover span {
	background: url(images/botao_over.png) no-repeat top left;
}
/* sub_text */
.sub_text { background: url(images/sub_text_bg.jpg) top center repeat-x; padding:0; margin:0; height:140px;}
.sub_text_resize { width:960px; margin:0 auto; padding:0;}
.sub_text_resize img { float:right; padding:50px 0 0 0; margin:0;}
.sub_text_resize h2 { font: normal 40px Arial, Helvetica, sans-serif; color:#fff; padding:50px 0 0 15px; margin:0;}
/* search_blog */
.search_blog { background:#f6f6f6; margin:0; padding:0;}
.search_blog_resize { width:960px; margin:0 auto; padding:0;}
.search_blog h2 { font: bold 14px Arial, Helvetica, sans-serif; color:#9d9d9d; padding:10px 0 15px 15px; margin:0;}
.search_blog h2 span { font: normal 11px Arial, Helvetica, sans-serif; color:#afafaf;}
/* search */
.search { padding:10px 20px 0 0; margin:0; width:250px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(images/search_bg.gif) left top no-repeat; width:200px; padding:0 5px; height:33px;}
.search form .keywords { width:149px; line-height:17px; height:17px; float:left; background:none; border:0; padding:8px 2px; margin:0; font:normal 12px Arial, Helvetica, sans-serif; color:#000;}
.search form .button { float:left; margin:0; padding:0;}

/* header box */
.header_box { background:#f8f8f8 url(images/slide_bg_line.gif) top repeat-x;}
.header_box_resize { height:454px; width:960px; margin:0 auto; background:url(images/slide_bg.jpg) left top no-repeat;}
.slider_cu3er { width:576px; float:left; padding:35px 0 0 0px;}
#cu3er-container { width:537px; outline:0; height:361px;}
.header_text { width:345px; float:right; padding:50px 0 0 10px;}
.header_text h2 { padding:10px 0; margin:0; font:normal 20px/1.2em Arial, Helvetica, sans-serif; color:#fff; list-style-type:square; letter-spacing: 0.05em; line-height:14px; }
.header_text p { padding:10px 0; margin:0; font:normal 12px/1.6em Arial, Helvetica, sans-serif; color:#272727;}

/*FBG*/
.FBG { margin:0 auto; width:960px; padding:10px 0 0 0;}
.FBG_resize { border-top:1px solid #e9e9e9; background:#f2f2f2; margin:0; padding:0;}
/****Recent **/
.Recent  { width:300px; float:left; padding:10px; margin:10px 0;}
.Recent p{ font:bold 11px Arial, Helvetica, sans-serif; color:#5f5f5f; line-height:1.8em; padding:5px 5px; margin:0;}
.Recent p span { color:#2a2a2a; font: bold 14px Arial, Helvetica, sans-serif;}
.Recent img { float: left; margin:10px 15px; padding:0;}
/********** block index **********/
.body { margin:0; padding:0; background: #fff; border-top:1px solid #eaeaea;}
.body_resize { width:960px; margin:0 auto; padding:0;}
.body_resize h2 { font:normal 24px Arial, Helvetica, sans-serif; color:#343434; padding:5px 5px; margin:0;}
.body_resize p { font:normal 14px Arial, Helvetica, sans-serif; color:#7d7d7d; padding:10px 5px; margin:0; line-height:1.8em;}
.body_resize p span { color:#8b2f01; font: normal 11px Arial, Helvetica, sans-serif;}
.body_resize a { color:#8b2f01; text-decoration:none; font: bold 11px Arial, Helvetica, sans-serif;}
.body_resize img { margin:10px auto; padding:0;}
.body_resize img.floated { float:left; margin:10px; padding:0;}
.right  { width:280px; float:right; margin:0; padding:30px 5px 30px 35px; text-align:justify;} 
.selo  { width:280px; float:right; margin:0; padding:0 0 0 40px;} 
.nuestrotrab  { width:280px; float:right; margin:0; padding:30px 5px 30px 35px;} 
.left  { width:620px; float:left; margin:0; padding:10px 10px; text-align:justify;} 
.blog { width:280px; float:left; margin:0; padding:10px 5px;}
.blog p.grey { color:#5f5f5f;}
/********** contact form **********/
.form { font:normal 12px Arial, Helvetica, sans-serif; color:#666666; text-decoration:none; padding:5px; margin:0; }
/********** contact form **********/
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#7a7a7a;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:100px; padding:5px 0; font:bold 12px Arial, Helvetica, sans-serif; color:#747474; text-transform:capitalize;}
#contactform label span { font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:420px; border:1px solid #ececec; margin:5px 0; padding:5px 2px; height:15px; background:#fff;}
#contactform textarea { width:420px; border:1px solid #ececec; margin:10px 0; padding:2px; background:#fff; height:150px;}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 400px; border:0; color:#FFF;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em; width:auto;}

/*************footer**********/
.footer_resize { width:960px; margin:0 auto; padding:5px 0 15px 0;}
.footer {padding:0;  margin:0; background:#d5d5d5; border-top:1px solid #eaeaea;}
.footer p { font:bold 12px  Arial, Helvetica, sans-serif; color:#666666;}
.footer a { font:normal 12px Arial, Helvetica, sans-serif; color:#666666; text-decoration:none; padding:5px; margin:0;}
.footer p.leftt { text-align:left; width:50%; margin:0; padding:10px 0 8px 30px; float:left; line-height:20px;} 
.footer p.rightt { text-align:right; width:30%; margin:0; padding:15px 15px 0 0; float:right;} 

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px solid #dfdfdf; padding:0; margin:10px 0; background:none; line-height:0;}